{% extends "basepag.html" %}
{% load static %}
{% block title %}
Factura
{% endblock title  %}


{% block navbar %}
{% include "components/navbar.html" %} 
{% endblock navbar %}


{% block content %}
<section class="w-full ">
    <div class="flex flex-wrap justify-center w-full px-2 ">
 
        <div class="h-screen rounded flex items-center justify-center bg-slate-900">
            <card class=" border p-4 rounded bg-white shadow-2xl">
                <p class="text-center text-gray-700 font-light font-bold mt-5 mb-5 ">Factura #:</p>
                <p class="text-center text-gray-700 font-light font-bold mt-5 mb-5 ">Reporte de factura</p>
                <!-- Logo -->
            <div class="w-full">
                <img class="w-20 mx-auto block" src="{% static 'img/logo.png'%}"/>
            </div>
            <!-- Description -->
            <table class="static w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            Fecha:
                        </th>
                        <td class="px-6 py-4">
                            {{factura.fecha}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            Cliente:
                        </th>
                        <td class="px-6 py-4">
                            {{factura.nombre}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            Teléfono:
                        </th>
                        <td class="px-6 py-4">
                            {{factura.telefono}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            Numero Placa:
                        </th>
                        <td class="px-6 py-4">
                            {{factura.placa}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row " class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap ">
                            Modelo:
                        </th>
                        <td class="px-6 py-4 ">
                            {{factura.modelo}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row " class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap ">
                            Servicio:
                        </th>
                        <td class="px-6 py-4 ">
                            {{factura.servicio}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                        <th scope="row " class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap ">
                            Pago total:
                        </th>
                        <td class="px-6 py-4 ">
                            {{factura.pago}}
                        </td>
                    </tr>
                </tbody>
            </table>
            </card>
            
        </div>
    </div>
</section> 





{% endblock content %}


{% block footer %}
{% include "components/footer.html" %}
{% endblock footer %}