{% load bootstrap5 %}
{% load static %}

  <button
    type="button"
    class="btn btn-secondary dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img class="w-75" src="{% static 'img/accessibility_white_24dp.svg'%}" alt="" />
  </button>
  <ul class="dropdown-menu">
    <li>
      <button class="dropdown-item" type="button" id="aumentar">
        <img class="w-25" src="zoom_in_black_24dp.svg" alt="" />Aumentar Letra
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" id="disminuir">
        <img class="w-25" src="{% static 'zoom_out_black_24dp.svg' %}" alt="" /> Reducir Letra
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" id="restaurar">
        <img class="w-25" src="{% static 'restart_alt_black_24dp.svg' %}" alt="" />Restaurar
      </button>
    </li>
    <li>
      <button class="dropdown-item input-group" type="button" id="dark">
        <img class="w-25" src="{% static 'invert_colors_black_24dp.svg'%}" alt="" /> Contraste
      </button>
    </li>
  </ul>


<script>
  let classes = ["f0", "f1", "f2", "f3", "f4"];
  let classIndex = 2;

  document.getElementById("aumentar").addEventListener("click", () => {
    let previousClass = classIndex;
    classIndex++;
    classIndex = classIndex == classes.length ? classes.length - 1 : classIndex;
    changeClass(previousClass, classIndex);
  });

  document.getElementById("disminuir").addEventListener("click", () => {
    let previousClass = classIndex;
    classIndex--;
    classIndex = classIndex < 0 ? 0 : classIndex;
    changeClass(previousClass, classIndex);
  });

  let changeClass = (previous, next) => {
    if (previous != next) {
      let htmlElement = document.querySelector("html");
      htmlElement.classList.remove(classes[previous]);
      htmlElement.classList.add(classes[next]);
    }
  };
  document.getElementById("restaurar").addEventListener("click", () => {
    location.reload();
  });
  changeClass();
  const cuerpo = document.body;
  document.getElementById("dark").addEventListener("click", () => {
    cuerpo.classList.toggle("dark-mode");
  });
</script>
