
{% load static %}
<footer class="hidden w-full h-16 mt-3 text-sm text-gray-500 sm:flex sm:bottom-0 sm:flex-wrap sm:items-center sm:justify-center dark:bg-gray-700 bg-light-white dark:text-gray-400 sm:mt-0">
        <span class="flex justify-start flex-grow ml-4 text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="" class="hover:underline"> JJMAV™ </a>. Todos los derechos reservados 
        </span>
    <ul class="flex flex-wrap items-center justify-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6"> About</a>
        </li>
    <li>
    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
    </li>
    <li>
    <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
</li>
<li>
    <a href="#" class="hover:underline">Contact</a>
</li>
</ul>
</footer>

